@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  /* line 13, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  /* line 18, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/extends/_button.scss */
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 22, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 26, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
h2 {
  font-size: 2em; }

/* line 30, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 34, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 38, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 42, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 46, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 50, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  /* line 55, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
  a:hover {
    color: #2c5999; }
  /* line 59, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

/* line 65, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 73, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 79, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 86, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 90, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_typography.scss */
  cite:before {
    content: "\2014 \00A0"; }

/* line 1, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 8, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

/* line 16, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 44, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 48, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

/* line 55, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 69, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

/* line 74, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

/* line 20, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 20, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 23, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 2, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
.footer {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%; }
  /* line 16, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .footer .footer-logo {
    text-align: center;
    margin-bottom: 2em; }
    /* line 20, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .footer .footer-logo img {
      height: 3em; }
  /* line 25, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .footer .footer-links {
    margin-bottom: 1.5em; }
    /* line 15, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .footer .footer-links:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 40em) {
      /* line 25, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
      .footer .footer-links {
        margin-left: 46.91392%; } }
  /* line 34, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .footer ul {
    margin-bottom: 3em; }
    @media screen and (min-width: 40em) {
      /* line 34, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
      .footer ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        /* line 38, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/neat/grid/_span-columns.scss */
        .footer ul:last-child {
          margin-right: 0; }
        /* line 52, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/neat/grid/_omega.scss */
        .footer ul:nth-child(3n) {
          margin-right: 0; }
        /* line 57, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/neat/grid/_omega.scss */
        .footer ul:nth-child(3n+1) {
          clear: left; }
        /* line 15, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/bourbon/addons/_clearfix.scss */
        .footer ul:after {
          content: "";
          display: table;
          clear: both; } }
  /* line 44, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .footer li {
    text-align: center; }
    @media screen and (min-width: 40em) {
      /* line 44, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
      .footer li {
        text-align: left; } }
  /* line 52, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .footer li a {
    color: rgba(255, 255, 255, 0.4); }
    /* line 55, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .footer li a:hover {
      color: white; }
  /* line 60, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .footer li h3 {
    color: white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em; }
  /* line 67, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  /* line 73, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

/* line 91, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
.intro-text {
  margin-bottom: 5em;
  margin-top: 4em;
  text-align: center; }
  /* line 98, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .intro-text h2 {
    font-weight: 800;
    margin-bottom: .3em; }
    @media screen and (min-width: 53.75em) {
      /* line 98, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
      .intro-text h2 {
        font-size: 3em;
        margin-bottom: .4em; } }
  /* line 108, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .intro-text h3 {
    background: #477DCA;
    color: white;
    display: inline-block;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 3px 8px;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      /* line 108, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
      .intro-text h3 {
        margin-bottom: 3.3em; } }
  /* line 123, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .intro-text h4 {
    color: #666666;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 123, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
      .intro-text h4 {
        font-size: 1.7em;
        line-height: 1.35em;
        margin: 0 auto 1em;
        width: 60%; } }
  /* line 138, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .intro-text p {
    margin: auto; }
    @media screen and (min-width: 53.75em) {
      /* line 138, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
      .intro-text p {
        width: 60%; } }
    /* line 145, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .intro-text p a {
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase; }
      /* line 150, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
      .intro-text p a span {
        font-size: 1.3em;
        line-height: 0; }

/* line 15, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/bourbon/addons/_clearfix.scss */
.grid-items:after {
  content: "";
  display: table;
  clear: both; }
/* line 187, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
.grid-items .grid-item {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 14em;
  background: #6b83a6;
  width: 100%;
  overflow: hidden;
  float: left;
  padding: 2em;
  border-top: 0;
  border-bottom: 9px solid white;
  border-left: 4.5px solid white;
  border-right: 4.5px solid white;
  text-align: center;
  cursor: pointer; }
  @media screen and (min-width: 53.75em) {
    /* line 187, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .grid-items .grid-item {
      width: 33.33333%; } }
  /* line 207, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(1) {
    background-color: #6b83a6;
    box-shadow: inset 0px 0px 1px 2px #536a8b; }
    /* line 211, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(1):hover {
      background-color: #536a8b;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 207, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(2) {
    background-color: #3581A5;
    box-shadow: inset 0px 0px 1px 2px #29637e; }
    /* line 211, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(2):hover {
      background-color: #29637e;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 207, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(3) {
    background-color: #5FBEBE;
    box-shadow: inset 0px 0px 1px 2px #44a6a6; }
    /* line 211, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(3):hover {
      background-color: #44a6a6;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 207, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(4) {
    background-color: #98C79A;
    box-shadow: inset 0px 0px 1px 2px #77b57a; }
    /* line 211, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(4):hover {
      background-color: #77b57a;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 207, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(5) {
    background-color: #A7A891;
    box-shadow: inset 0px 0px 1px 2px #909175; }
    /* line 211, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(5):hover {
      background-color: #909175;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 207, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(6) {
    background-color: #BDCC97;
    box-shadow: inset 0px 0px 1px 2px #a7bb75; }
    /* line 211, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(6):hover {
      background-color: #a7bb75;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 207, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(7) {
    background-color: #979EA0;
    box-shadow: inset 0px 0px 1px 2px #7c8588; }
    /* line 211, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(7):hover {
      background-color: #7c8588;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
/* line 221, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
.grid-items .grid-item img {
  display: block;
  height: 3em;
  margin: auto;
  margin-bottom: 1em; }
/* line 228, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
.grid-items .grid-item h1 {
  color: white;
  font-size: 1.3em;
  margin-bottom: .4em; }
/* line 234, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
.grid-items .grid-item p {
  margin: auto;
  color: rgba(255, 255, 255, 0.7); }
  @media screen and (min-width: 40em) {
    /* line 234, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
    .grid-items .grid-item p {
      max-width: 70%; } }
@media screen and (min-width: 53.75em) {
  /* line 242, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .grid-items .grid-item-big {
    width: 66.66667%; } }
@media screen and (min-width: 40em) {
  /* line 246, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
  .grid-items .grid-item-big p {
    max-width: 60%; } }
/* line 253, /Users/EA_Roa/ruby/website/portfolio/source/stylesheets/all.scss */
.grid-items .grid-item-image {
  background: url(/images/lake-transparent.png);
  background-color: #6b83a6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }
